@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    background: #e9e5de;
    background: linear-gradient(90deg, #e9e5de 0%, #e7ccc1 38%, #705650 100%);
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


